exportPattern("^[[:alpha:]]+")
importFrom(magrittr, "%>%")
importFrom(utils, URLencode)
importFrom(lubridate, ymd_hms)

import(tidyverse)

export(agregar_datos_unicos)
export(extraccion_parrafos)
export(extraer_noticias_fecha)
export(extraer_noticias_max_res)
export(grafico_notas_por_mes)
export(init_req_bbcl)
export(word_cloud)
export(limpieza_notas)
export(visualizacion)
export(tabla_frecuencia_palabras)
