exportPattern("^[[:alpha:]]+")
importFrom(magrittr, "%>%")
importFrom(utils, URLencode)
importFrom(lubridate, ymd_hms)
importFrom(tidyverse, aes, geom_line, geom_point, geom_smooth, labs, theme_minimal, theme, element_text)

export(conectar_bd)
export(extraer_noticias)
export(extraer_noticias_fecha)
export(extraer_noticias_max_res)
export(grafico_notas_por_mes)
export(init_req_bbcl)
export(word_cloud)
export(visualizacion)
